@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 10px;
    background: #ccbb33;
    font-family: 'Nanum Gothic', sans-serif;
}

#control {
    font-size: 30px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    background: #efdf88;
    text-align: center;
    vertical-align: middle;
}

.input {
    background: transparent;
    border: 5px #000000 solid;
    border-radius: 20px;
    width: 60px;
    font-size: inherit;
    font-weight: inherit;
    padding: 5px 10px 5px 10px;
}

.input.button {
    width: fit-content;
    border: 5px #ffffff solid;
}

input[type="file"] {
    display: none;
}

.tooltip {
    width: fit-content;
    border: 5px #7f7f7f solid;
    position: relative;
    display: inline-block;
}

.tooltip>div {
    visibility: hidden;
    max-height: 700px;
    background: black;
    color: white;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    word-break: keep-all;
}

.tooltip:hover>div {
    visibility: visible;
}

#container {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 40px;
    font-weight: 700;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    background: #efdf88;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    padding: 10px;
    max-width: 500px;
}

.item>.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item>.members>p {
    margin: 10px;
    background: #dcaa55;
    border-radius: 10px;
    padding: 5px;
    word-break: keep-all;
}

.item>.score-controls {
    font-size: 30px;
}

.item>.score-controls>.team-id {
    margin: 10px;
    display: inline;
    color: #9c935a;
    font-size: 40px;
    font-weight: bold;
}

.item>.score-display {
    color: #83230b;
    word-break: break-all;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}