.update {
  position: fixed;
  padding: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d12f06;
  color: #000000;
  opacity: 0.3;
  font-size: 5rem;
  text-align: center;
  text-decoration: none;
  z-index: -1;
}
